<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<h3 th:unless="${employers} and ${employers.size()}">No Employers Available!</h3>

<!-- ORIGINAL BULLET UNORDERED LIST FORMAT (NO TABLE) -->

<div class="container body-content">
    <h2>Employers</h2>
    <ul>
        <li th:each="employer : ${employers}">
            <a th:href="@{'/employers/view/' + ${employer.id}}" th:text="${employer.name}"></a>
        </li>
    </ul>
    <a th:href="@{'/employers/add'}">Add Employers</a>

    <!-- My Own Extra - Added a line break and a hyperlink back to the Add Jobs page:
                     <br> = next line
                     <hr> = a literal horizontal line across the page break -->
    <hr>
    <a th:href="@{'/add'}">Back to Add Job Page</a>

</div>


<!-- The refactored code below displays a 2 color table with rows like the other displays, but I decided to stick with
        the original plain unordered hyperlink list formatting above b/c takes up less vertical space on the web page. -->

<!--<div class="container body-content">-->
<!--    <h2>Employers</h2>-->
<!--    <table class="job-listing">-->
<!--        <tr th:each="employer : ${employers}">-->
<!--            <td>-->
<!--                <ul>-->
<!--                    <li>-->
<!--                        <a th:href="@{'/employers/view/' + ${employer.id}}" th:text="${employer.name}"></a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </td>-->
<!--        </tr>-->
<!--    </table>-->
<!--    <br>-->
<!--    <a th:href="@{'/employers/add'}">Add Employers</a>-->

<!--    &lt;!&ndash; My Own Extra - Added a literal horizontal line break and a hyperlink back to the Add Jobs page. &ndash;&gt;-->
<!--    <hr>-->
<!--    <a th:href="@{'/add'}">Back to Add Job Page</a>-->

<!--</div>-->

</body>
</html>