<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container  body-content">
<h1 th:text="${'Skill: ' + skill.name}">Default Title</h1>

<nav th:replace="fragments :: page-header"></nav>

<!--<div class="job-listing">-->
<!--    <p th:text="${'Name: ' + skill.name}"></p>-->
<!--    <p th:text="${'Description: ' + skill.description}"></p>-->
<!--    <p> Jobs:-->
<!--        <ul>-->
<!--            <li th:each="job : ${skill.jobs}">-->
<!--                <a th:href="@{'/view/' + ${job.id}}" th:text="${job.name}"></a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </p>-->
<!--</div>-->

<!--    I REFACTORED TO MATCH PREVIOUS GA3 MVC TABLE FORMATTING.    -->
<!--    Could also hardcode the headings instead:  <th> Name: </th>  and <th> Skill: </th>, similar to Jobs: below. -->

<table class="job-listing">
    <tr>
        <th th:text="${'Name: '}"></th>
        <td th:text="${skill.name}"></td>
    </tr>
    <tr>
        <th th:text="${'Description: '}"></th>
        <td th:text="${skill.description}"></td>
    </tr>
    <tr>
        <th> Jobs: </th>
        <td>
            <ul th:each="job : ${skill.jobs}">
                <li>
                    <a th:href="@{'/view/' + ${job.id}}" th:text="${job.name}"></a>
                </li>
            </ul>
        </td>
    </tr>
</table>

<!-- EXTRA: Go Back one-page link Version 2 - This version allows you to continue to go further back one page at a time.
If page views A-B-C-D this link results in C-B-A. However, it only works w/in same browser Tab. Added literal line break.-->
<hr>
<a href="#" onclick="history.go(-1)">Go Back</a>

</body>
</html>